@model gorm_Quiz2.Models.WardDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WardDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WardName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WardName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Patient.PFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.PFirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WardId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
